<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMTestSuite" verbose="1">

    <!-- You can define parameters at the suite level -->
    <parameter name="browser" value="chrome" />

    <test name="Smoke Tests">
        <classes>
            <!-- Replace 'com.example.tests' with your actual package and class name -->
            <class name="com.sdet.tests.LoginTest" />
            <class name="com.sdet.tests.UserTests" />
        </classes>
    </test>
    <test name="Regression Tests">
        <classes>
            <!-- Replace 'com.example.tests' with your actual package and class name -->

            <class name="com.sdet.tests.AdminTests" />
        </classes>
    </test>

</suite>
